@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url(./assets//fonts/Poppins-Regular.ttf);
}

html{
  scrollbar-width: none;
  overflow: hidden;
}

body {
  color: #EAFDFC;
  font-family:  Poppins, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  scrollbar-width: none;
  user-select: none;
}
